<style>
    .events-list {
        max-height: 47px;
        padding-left: 20px;
        padding-bottom: 40px;
    }
    .badge-important1 {
        background-color: #48B97E;
    }
    .badge-important2 {
        background-color: #FF6600;
    }
    .badge-important3 {
        background-color: #FFCC00;
    }
</style>
<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="day" data-toggle="tooltip" title="<%= tooltip %>"><%= day %></span>
    <% var allo_eventsize=0; var unallo_eventsize=0; var unallo_eventsize2=0; var unallo_eventsize3=0; %>
    <% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
			<% _.each(events, function(event) { %>
			<!--	<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
					title="<%= event.title %>"></a> -->
            <% if (event['class'] == 'event-warning') { %>
                
                <% var varia = event.title.split('-');  var varia1 = varia[0].split(' '); allo_eventsize = varia1[0];%>   
            <% } %>
            <% if (event['class'] == 'event-warning3') { %>    
            
            <% var varia = event.title.split('-');  var varia1 = varia[0].split(' '); unallo_eventsize = varia1[0];%>  
            <% } %>
            <% if (event['class'] == 'event-warning1') { %>
            
            <% var varia = event.title.split('-');  var varia1 = varia[0].split(' '); unallo_eventsize2 = varia1[0];%>  
            <% } %>
            <% if (event['class'] == 'event-warning2') { %>
            
            <% var varia = event.title.split('-');  var varia1 = varia[0].split(' '); unallo_eventsize3 = varia1[0];%>  
            <% } %>
			<% }); %>
            <% if (allo_eventsize > 0) { %>
            <small class="cal-events-num badge badge-important pull-left"><%= allo_eventsize %></small>
            <% } %>
            <% if (unallo_eventsize > 0) { %>
            <small class="cal-events-num badge badge-important1 pull-left"><%= unallo_eventsize %></small>
            <% } %>
            <% if (unallo_eventsize2 > 0) { %>
            <small class="cal-events-num badge badge-important2 pull-left"><%= unallo_eventsize2 %></small>
            <% } %>
            <% if (unallo_eventsize3 > 0) { %>
            <small class="cal-events-num badge badge-important3 pull-left"><%= unallo_eventsize3 %></small>
            <% } %>
        </div>
	<% } %>
</div>
