/*
Traveller Desktop CSS
*/

/* MODULE
--------------------------------------------------------------------*/

/* User Defined Fields */
.udfDependant {
    display: none;
}

/* Miscellaneous */
div#map-canvas {
    width: 100%;
    height: 260px;
    z-index: 1;
}
#facility, #clearFacility {
    display: none;
}
#exportForm {
    float:right;
}

/* Popus */
div.popupDetail {
    display: none;
    float: left;
    width: 100%;
    padding: 20px 20px 20px 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

div#popup {
    width: auto;
    top: 10%;
    position: fixed;
    left: 10%;
    right: 10%;
    bottom: 10%;
    height: auto;
    background-color: #bcc8dd;
    color: #132847;
    padding: 24px;
    border: #95a1b8 5px solid;
    font-size: 14px;
    display:none;
    z-index:1001;
}

.addressRow, .addressRow td {
    background-color: #bcc8dd !important;
    color: #132847;
}

iframe {
    z-index:1001;
}

div#loadingbar {
    width: 46px;
    height: 46px;
    position: fixed;
    left: 45%;
    right: 45%;
    top: 40%;
    bottom: 45%;
    background-color: #000;
    color: white;
    padding: 25px;
    text-align: center;
    border: #FFF 3px solid;
    opacity: 0.9;
    display: none;
    z-index: 1001;
}

div.openPopup {
    cursor: pointer;
    float: right;
}

span.openPopup {
    font-size: 14px;
    font-weight: bold;
    color: #132847;
    
    border-bottom: #132847 1px solid;
}

div.closePopup {
    float: right;
    width: 80px;
    height: 16px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #132847;
    
}

div.popupTitle {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    color: #132847;
    
    border-bottom: #132847 1px solid;
}

div.popupContent {
    float: left;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
    height: 90%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    padding-right: 20px;
}

div.popupContent input, div.popupContent select, div.popupContent textarea, div.popupContent label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Helpnotes */
div.info{
	width:auto;
	height:auto;
	float:right;
    line-height:35px;
	cursor:pointer;
}
.infoHover{
	display:none;	
}
div.hoverDiv{
	position:absolute;
	z-index:5000;
	display:none;
	background-color: #bcc8dd;
	color: #132847;
	padding: 6px;
	border: #95a1b8 5px solid;
	width:auto;
	height:auto;
	max-width:650px;
    max-height:400px;
    right:100px;
    overflow:scroll;
}


/* Login */
div#login-container {
    margin: auto;
    *text-align: left;
    margin-top: 50px;
    width: 90%;
    height: 100%;
}

h1.login-h1 {
    margin:auto;
}

div#login-box {
    width: 330px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    color:white  !important;
    text-align:center !important;
    /* IE9 SVG, needs conditional o
        verride of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MmQ0OSIgc3RvcC1vcGFjaXR5PSIwLjcyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYTU2NjkiIHN0b3Atb3BhY2l0eT0iMC43NyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(23,45,73,0.72) 0%, rgba(42,86,105,0.77) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,45,73,0.72)), color-stop(100%,rgba(42,86,105,0.77))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(23,45,73,0.72) 0%,rgba(42,86,105,0.77) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(23,45,73,0.72) 0%,rgba(42,86,105,0.77) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(23,45,73,0.72) 0%,rgba(42,86,105,0.77) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(23,45,73,0.72) 0%,rgba(42,86,105,0.77) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8172d49', endColorstr='#c42a5669',GradientType=0 ); /* IE6-8 */

    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding:20px;
margin:auto;
}

div#compatibility-box {
    width: 700px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    color:white  !important;
    text-align:center !important;
    /* IE9 SVG, needs conditional o
        verride of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MmQ0OSIgc3RvcC1vcGFjaXR5PSIwLjcyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYTU2NjkiIHN0b3Atb3BhY2l0eT0iMC43NyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(23,45,73,0.72) 0%, rgba(42,86,105,0.77) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,45,73,0.72)), color-stop(100%,rgba(42,86,105,0.77))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(23,45,73,0.72) 0%,rgba(42,86,105,0.77) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(23,45,73,0.72) 0%,rgba(42,86,105,0.77) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(23,45,73,0.72) 0%,rgba(42,86,105,0.77) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(23,45,73,0.72) 0%,rgba(42,86,105,0.77) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8172d49', endColorstr='#c42a5669',GradientType=0 ); /* IE6-8 */

    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
padding:20px;
margin:auto;
}
    div#compatibility-box a {
        color:white !important;
        text-decoration: none !important;
    }

    div#login-box label {
        color:white !important;
    }

div#login-info {
    width: 40%;
    margin-top: 25px;
    float: right;
    min-height: 216px;
    min-width: 430px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

/* Message Output Box */
div#error-box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    color:white  !important;
    text-align:left !important;
    background: -moz-linear-gradient(top,  rgba(201,64,64,0.72) 0%, rgba(163,65,65,0.77) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,64,64,0.72)), color-stop(100%,rgba(163,65,65,0.77))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(201,64,64,0.72) 0%,rgba(163,65,65,0.77) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(201,64,64,0.72) 0%,rgba(163,65,65,0.77) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(201,64,64,0.72) 0%,rgba(163,65,65,0.77) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(201,64,64,0.72) 0%,rgba(163,65,65,0.77) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c94040', endColorstr='#c4a34141',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;

    color: white;
    font-family: Arial;
    font-size: 14px;
    width: 100%;
    float: left;
    min-height: 45px;
    margin-top: auto;
    display: block;
    padding: 20px;
    overflow: none;
}
    div#error-box a {
        color:#eee !important;
    }

div#tick-box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    color:white  !important;
    text-align:left !important;
    background: -moz-linear-gradient(top,  rgba(53,168,71,0.72) 0%, rgba(43,109,78,0.77) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(53,168,71,0.72)), color-stop(100%,rgba(43,109,78,0.77))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(53,168,71,0.72) 0%,rgba(43,109,78,0.77) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(53,168,71,0.72) 0%,rgba(43,109,78,0.77) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(53,168,71,0.72) 0%,rgba(43,109,78,0.77) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(53,168,71,0.72) 0%,rgba(43,109,78,0.77) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b835a847', endColorstr='#c42b6d4e',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
    color: white;
    font-family: Arial;
    font-size: 14px;
    width: 100%;
    min-height: 45px;
    float: left;
    display: block;
    padding: 20px;
    margin-top: auto;
    overflow: none;
}
    div#tick-box a {
        color:#eee !important;
    }

div#messages {
    width: 100%;
    margin-bottom: 15px;
    float: left;
    display: block;
}

/* Sidebar */

span.welcome {
    width: auto;
    
    font-size: 14px;
    color: #FFF;
    text-align: right;
    *text-align: left;
    float: right;
    font-weight: bold;
    padding: 18px;
    padding-top: 25px;
    text-shadow: 1px 1px black;
}

span.council-name {
    display: block;
    color: #FFF;
    
    font-weight: bold;
    text-align: right;
    float: right;
    width: auto;
    font-size: 24px;
    padding: 6px;
    line-height:35px;
    text-shadow: 2px 2px black;
}


ul.subButtons {
    width:auto;
    float:right;
}

    ul.subButtons li {
        -moz-box-shadow: inset 0px -3px 41px -18px #ffffff;
        -webkit-box-shadow: inset 0px -3px 41px -18px #ffffff;
        box-shadow: inset 0px -3px 41px -18px #ffffff;
        background-color: #113970;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #113970), color-stop(1, #1d4d91) );
        background: -moz-linear-gradient( center top, #113970 5%, #1d4d91 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#113970', endColorstr='#1d4d91');
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 2px solid #85a1c7;
        display: inline-block;
        color: #ffffff;
        font-family: arial;
        font-size: 12px;
        font-weight: bold;
        padding: 4px;
        text-decoration: none;
        text-shadow: 1px 1px 0px #000000;
        width: auto;
        height: auto;
        margin: 0;
        text-align: center;
    }

        ul.subButtons li:hover {
            background-color: #1d4d91;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1d4d91), color-stop(1, #113970) );
            background: -moz-linear-gradient( center top, #1d4d91 5%, #113970 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4d91', endColorstr='#113970');
            border: 2px solid #fff;
            width: auto;
            height: auto;
            cursor: pointer;
        }

        ul.subButtons li:active {
            position: relative;
            top: 1px;
        }

        ul.subButtons li.act {
            background-color: #1d4d91;
            background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1d4d91), color-stop(1, #113970) );
            background: -moz-linear-gradient( center top, #1d4d91 5%, #113970 100% );
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1d4d91', endColorstr='#113970');
            border: 3px solid #fff;
            text-decoration:underline;
        }

.sidebarButtons {
    width:174px;
    margin: 0;
    padding: 0;
}

    .sidebarButtons a {
        margin: 0;
        padding: 0;
        width:174px;
        height: auto;
        
        color: #fff;
        float:left;
        text-decoration: none;
        padding: 5px 10px;
        
        font-size:12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        margin-top:10px;

        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhNTY2OSIgc3RvcC1vcGFjaXR5PSIwLjcyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzJkNDkiIHN0b3Atb3BhY2l0eT0iMC43OCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(42,86,105,0.72) 0%, rgba(23,45,73,0.78) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,86,105,0.72)), color-stop(100%,rgba(23,45,73,0.78))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(42,86,105,0.72) 0%,rgba(23,45,73,0.78) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(42,86,105,0.72) 0%,rgba(23,45,73,0.78) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(42,86,105,0.72) 0%,rgba(23,45,73,0.78) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(42,86,105,0.72) 0%,rgba(23,45,73,0.78) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b82a5669', endColorstr='#c7172d49',GradientType=0 ); /* IE6-8 */

    }

        .sidebarButtons a:hover {
             /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MmQ0OSIgc3RvcC1vcGFjaXR5PSIwLjc5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYTU2NjkiIHN0b3Atb3BhY2l0eT0iMC44NiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(23,45,73,0.79) 0%, rgba(42,86,105,0.86) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,45,73,0.79)), color-stop(100%,rgba(42,86,105,0.86))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(23,45,73,0.79) 0%,rgba(42,86,105,0.86) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(23,45,73,0.79) 0%,rgba(42,86,105,0.86) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(23,45,73,0.79) 0%,rgba(42,86,105,0.86) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(23,45,73,0.79) 0%,rgba(42,86,105,0.86) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9172d49', endColorstr='#db2a5669',GradientType=0 ); /* IE6-8 */

       
        }

        .sidebarButtons a:active {
            position:relative;
            top:1px;
        }

/* Summary */

div.sideNav {
    position:fixed;
    top:50px;
    right: 25px;
}

h1.page {
    font-size: 25px;
    font-weight: bold;
    color: #132847;
    
    width: auto;
    padding:0;
    margin-bottom: 0;
    border-bottom: 0;
    float:left;
}
h2.subPage {
    font-size: 16px;
    color: #132847;
    
    font-weight:bold;
    float: left;
    width: 100%;
    margin: 0;
    padding:0;
    display: block;
}
div.summaryContainer {
    border: 1px #c9c9c9 solid;
    font-size: 12px;
    text-align: left;
    background-color: #bcc8dd;
    float: left;
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

span.summaryColumnTitle {
    display: block;
    width: 200px;
    height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #2a3857;
    padding: 5px 0px;
}

span.summaryTableTitle {
    display: block;
    width: auto;
    height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
    color: #2a3857;
}

div.summaryColumn {
    width: 100%;
    height: auto;
    min-width: 180px;
    min-height: 30px;
    padding: 6px;
    font-size: 14px;
    background: #f4f1f1;
    border: 1px #c9c9c9 solid;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}


span.request-id {
    font-size: 18px;
    color: #33466a;
    float: right;
    font-weight: bold;
    *text-align: right;
    margin-top: 10px;
    padding-right: 5px;
}

span.request-id-value a {
    font-size: 18px;
    color: #506c9f;
    *text-align: right;
}

span.request-id-value {
    font-size: 18px;
    color: #506c9f;
    float: right;
    margin-top: 7px;
}

    span.request-id-value a:hover {
        color: #33466a;
    }

/* jQuery UI */
.ui-front {
    z-index:1002 !important;
}

.ui-autocomplete-input, .ui-autocomplete-input[readonly="readonly"], .ui-autocomplete-input[readonly] {
    background: url('../../images/autocompleteArrow.gif') no-repeat right center #fff;
}

.ui-autocomplete-input:hover, .ui-autocomplete-input[readonly="readonly"]:hover, .ui-autocomplete-input[readonly]:hover {
    background: url('../../images/autocompleteArrowHover.gif') no-repeat right center #fff;
}

.ui-autocomplete-loading {
    background: url('../../images/ajax-loader-auto.gif') no-repeat right center #fff;
}

.ui-disabled {
    background: #eee;
}

.dataTable {
    float:left !important;
    display:block !important;
    table-layout: fixed; 
    word-wrap: break-word; 
}


/* Bottom Bar */
.welcome {
    float: left;
    margin: 0;
    padding: 0;
}

    .welcome h3 {
        margin: 0;
        color:white;
        padding: 0;
        line-height: 30px;
        font-size: 15px;
    }

.profImage {
    padding-left: 4px;
    padding-top: 4px;
    width: 25px;
    float: left;
}

.bottomButtons {
    float: left;
    height: 40px;
    margin: 0;
    padding: 0;
    margin-left: 20px;
}

    .bottomButtons a {
        background:transparent;
        width:auto;
        color:white;
        font-family: UBUNTU, sans-serif;
        font-weight:700;
        text-align:center;
        padding:10px;
        height:40px;
        text-decoration:none !important;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;         /* Opera/IE 8+ */
        cursor:pointer;
        float:left;
        line-height:10px;
        display:block;
    }
        .bottomButtons a:hover {
            background:#172d49;
        }

.searchBar {
    width: 200px;
    float: right;
    margin: 0;
    padding: 0;
}

    .searchBar input {
        margin-right: 0 !important;
    }

.version {
    width: auto;
    float: right;
    margin: 0;
    padding: 0;
    
    margin-left: 10px;
}

    .version h3 {
        font-weight: bold;
        color:white;
        padding: 0;
        margin: 0;
        line-height: 30px;
        font-size: 14px;
    }

#bottomBar {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    height: 30px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhNTY2OSIgc3RvcC1vcGFjaXR5PSIwLjc5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzJkNDkiIHN0b3Atb3BhY2l0eT0iMC44NiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(42,86,105,0.79) 0%, rgba(23,45,73,0.86) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,86,105,0.79)), color-stop(100%,rgba(23,45,73,0.86))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(42,86,105,0.79) 0%,rgba(23,45,73,0.86) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(42,86,105,0.79) 0%,rgba(23,45,73,0.86) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(42,86,105,0.79) 0%,rgba(23,45,73,0.86) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(42,86,105,0.79) 0%,rgba(23,45,73,0.86) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92a5669', endColorstr='#db172d49',GradientType=0 ); /* IE6-8 */


}

/*
 * Data Table
 */
table.dataTable {
    margin: 0 auto;
    clear: both;
    width: 100%;
}

    table.dataTable thead th {
        padding: 3px 18px 3px 10px;
        border-bottom: 1px solid black;
        font-weight: bold;
        cursor: pointer;
        *cursor: hand;
    }

    table.dataTable tfoot th {
        padding: 3px 18px 3px 10px;
        border-top: 1px solid black;
        font-weight: bold;
    }

    table.dataTable td {
        padding: 3px 10px;
    }

        table.dataTable td.center,
        table.dataTable td.dataTables_empty {
            text-align: center;
        }

    table.dataTable tr.odd {
        background-color: #E2E4FF;
    }

    table.dataTable tr.even {
        background-color: white;
    }

    table.dataTable tr.odd td.sorting_1 {
        background-color: #D3D6FF;
    }

    table.dataTable tr.odd td.sorting_2 {
        background-color: #DADCFF;
    }

    table.dataTable tr.odd td.sorting_3 {
        background-color: #E0E2FF;
    }

    table.dataTable tr.even td.sorting_1 {
        background-color: #EAEBFF;
    }

    table.dataTable tr.even td.sorting_2 {
        background-color: #F2F3FF;
    }

    table.dataTable tr.even td.sorting_3 {
        background-color: #F9F9FF;
    }


/*
 * Table wrapper
 */
.dataTables_wrapper {
    position: relative;
    clear: both;
    *zoom: 1;
}


/*
 * Page length menu
 */
.dataTables_length {
    float: left;
}


/*
 * Filter
 */
.dataTables_filter {
    float: right;
    text-align: right;
}


/*
 * Table information
 */
.dataTables_info {
    clear: both;
    float: left;
}


/*
 * Pagination
 */
.dataTables_paginate {
    float: right;
    text-align: right;
}

/* Two button pagination - previous / next */
.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next {
    height: 19px;
    float: left;
    cursor: pointer;
    *cursor: hand;
    color: #111 !important;
}

    .paginate_disabled_previous:hover,
    .paginate_enabled_previous:hover,
    .paginate_disabled_next:hover,
    .paginate_enabled_next:hover {
        text-decoration: none !important;
    }

    .paginate_disabled_previous:active,
    .paginate_enabled_previous:active,
    .paginate_disabled_next:active,
    .paginate_enabled_next:active {
        outline: none;
    }

.paginate_disabled_previous,
.paginate_disabled_next {
    color: #666 !important;
}

.paginate_disabled_previous,
.paginate_enabled_previous {
    padding-left: 23px;
}

.paginate_disabled_next,
.paginate_enabled_next {
    padding-right: 23px;
    margin-left: 10px;
}

.paginate_enabled_previous {
    background: url('../../images/back_enabled.png') no-repeat top left;
}

    .paginate_enabled_previous:hover {
        background: url('../../images/back_enabled_hover.png') no-repeat top left;
    }

.paginate_disabled_previous {
    background: url('../../images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_next {
    background: url('../../images/forward_enabled.png') no-repeat top right;
}

    .paginate_enabled_next:hover {
        background: url('../../images/forward_enabled_hover.png') no-repeat top right;
    }

.paginate_disabled_next {
    background: url('../../images/forward_disabled.png') no-repeat top right;
}

/* Full number pagination */
.paging_full_numbers {
    height: 22px;
    line-height: 22px;
}

    .paging_full_numbers a:active {
        outline: none;
    }

    .paging_full_numbers a:hover {
        text-decoration: none;
    }

    .paging_full_numbers a.paginate_button,
    .paging_full_numbers a.paginate_active {
        border: 1px solid #aaa;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 2px 5px;
        margin: 0 3px;
        cursor: pointer;
        *cursor: hand;
        color: #333 !important;
    }

    .paging_full_numbers a.paginate_button {
        background-color: #ddd;
    }

        .paging_full_numbers a.paginate_button:hover {
            background-color: #ccc;
            text-decoration: none !important;
        }

    .paging_full_numbers a.paginate_active {
        background-color: #99B3FF;
    }


/*
 * Processing indicator
 */
.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 30px;
    margin-left: -125px;
    margin-top: -15px;
    padding: 14px 0 2px 0;
    border: 1px solid #ddd;
    text-align: center;
    color: #999;
    font-size: 14px;
    background-color: white;
}


/*
 * Sorting
 */
.sorting {
    background: url('../../images/pc/sort_both.png') no-repeat center right;
}

.sorting_asc {
    background: url('../../images/pc/sort_asc.png') no-repeat center right;
}

.sorting_desc {
    background: url('../../images/pc/sort_desc.png') no-repeat center right;
}

.sorting_asc_disabled {
    background: url('../../images/pc/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
    background: url('../../images/pc/sort_desc_disabled.png') no-repeat center right;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
    outline: none;
}


/*
 * Scrolling
 */
.dataTables_scroll {
    clear: both;
}

.dataTables_scrollBody {
    *margin-top: -1px;
    -webkit-overflow-scrolling: touch;
}

/* Setup */

h1.setupTitle {
    width:100%;
    border-bottom: #333 1px solid;
}