/*
Traveller Desktop CSS
*/

/* BASE 
--------------------------------------------------------------------*/

/* CSS RESET 
--------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    
    vertical-align: middle;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

div {
    border: 0px red solid;
}

body, html {
    background: #eee;
    color: #4c4c4c;
    
    text-align: left;

    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: 0px red solid;

    font-size:14px;
    font-family:Helvetica, Arial, sans-serif !important;
      font-style:normal !important;
      font-variant:normal !important;
      font-weight:normal !important;
      letter-spacing:-0.015em !important;
}

:focus {
    outline: 0;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

/* LISTS
--------------------------------------------------------------------*/
ol {
    list-style: square;
}

ul, li {
    list-style: none;
}

/* COMMON TEXT STYLES 
--------------------------------------------------------------------*/
p {
    text-align: left;
}

h1, h2, h3, h4, h5, h6 {
    text-align: left;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    color: #132847;
    width: auto;
    margin-bottom: 10px;
    border-bottom: 0;
    float:left;
}

h2 {
    font-size: 18px;
    color: #132847;
    float: left;
    width: 100%;
    margin: 10px 0;
    display: block;
}

h3 {
    font-size: 14px;
    color: #132847;
    
    float: left;
    width: 100%;
    margin: 10px 0;
    display: block;
    padding-left: 20px;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    color: #132847;
    
    width: 100%;
    margin-bottom: 10px;
}

h5 {
    font-size: 16px;
    font-weight: bold;
    color: #132847;
    
    width: 100%;
    margin-bottom: 10px;
    border-bottom: #132847 1px solid;
}

h6 {
    font-size: 12px;
}

hr {
    border: 0px;
    width: 80%;
    height: 1px;
    background-color: #8295b6;
    color: #8295b6;
    margin: 10px;
}
/* LINK STYLES 
--------------------------------------------------------------------*/
a {
    text-decoration: underline;
    outline: none;
    color: #3774dd;
}

    a:link {
        color: #3774dd;
    }

    a:visited {
        color: #3774dd;
    }

    a:hover {
        color: #73a4f7;
        text-decoration: none;
        cursor: pointer;
    }

    a:active {
        color: #73a4f7;
    }

    a img {
        border: 0;
    }

/*  Tables */
table {
    width: 100%;
    border: 1px #c9c9c9 solid;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

th a, th a:link, th a:visited, th a:hover, th a:active {
    color: #fff;

}

thead th {
    color: #fff !important;
    white-space:nowrap;
}

thead tr th {
    color: #fff !important;
    white-space:nowrap;
}


td, th {
    width: auto;
    
}

    th.status {
        width: 25px;
        min-width: 25px;
    }

tr, tr a {
    border: none;
    border-spacing: 0;
    border-collapse: collapse;
    background: #2a5669;
    cursor: pointer;
    font-size: 14px;
    color: #152848;
    text-decoration: none;
    min-width: 75px;
}

table tr td, table tr th {
    padding: 6px;
    vertical-align: middle;
}

table tr.light {
    background: #e3e7ef;
}

table tr.dark {
    background: #d6dfef;
}

table tr.light:hover {
    background: #bbcae3;
    cursor: pointer;
}

table tr.dark:hover {
    background: #bbcae3;
    cursor: pointer;
}

table tr.light_nocur {
    background: #e3e7ef;
}

table tr.dark_nocur {
    background: #d6dfef;
}

/* FORM STYLES 
--------------------------------------------------------------------*/

input {
    border: 0;
    border: #2A5669 1px solid; 
    border-left: #2A5669 4px solid; 
    background: #FFF;
    
    font-size: 12px;
    padding: 5px;
    padding-left: 9px;
    height: 25px;
    *height: 25px;
    width: 100%;
    text-align: left;
    display: inline-block;
    margin-right: 24px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
    @media screen\0 {
        input[type="file"] {
        height:40px !important;
        font-size:11px !important;
        padding:3px !important;
        padding-left:9px !important;
        }
    }
    

    input:focus, select:focus, textarea:focus {
        border: #415CA3 1px solid; 
        border-left: #415CA3 4px solid;
    }

    input:hover, select:hover, textarea:hover {
        border: #415CA3 1px solid; 
        border-left: #415CA3 4px solid;
    }



    input:disabled, select:disabled, textarea:disabled,
    input[readonly="readonly"], select[readonly="readonly"], textarea[readonly="readonly"],
    input[readonly], select[readonly], textarea[readonly] {
        border: #415CA3 1px solid; 
        border-left: #666 4px solid;
    }

        input[readonly="readonly"]:hover, select[readonly="readonly"]:hover, textarea[readonly="readonly"]:hover,
        input[readonly]:hover, select[readonly]:hover, textarea[readonly]:hover {
            border: #415CA3 1px solid; 
            border-left: #999 4px solid;
        }

select {
    display: inline-block;
    height: 25px;
    *height: 25px;
    width: 100%;
    padding: 3px;
    font-size: 12px;
    padding-left: 6px;
    text-align: left;
    margin: 0 0 5px 0;
    border: 0;
    outline:none;
    border: #2A5669 1px solid; 
    border-left: #2A5669 4px solid;
    background: #FFF;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
    
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

textarea {
    border: 0;
    border: #2A5669 1px solid; 
    border-left: #2A5669 4px solid;
    background: #FFF;
    font-family: Arial;
    font-size: 12px;
    padding: 4px;
    padding-left: 9px;
    height: 80px;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    text-align: left;
    display: inline-block;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

input.login {
    border: 0;
    border-left: #2A5669 4px solid;
    background: #dde4f2;
    font-size: 14px;
    width: 280px;
    min-width: 230px;
    max-width: 280px;
    
    text-align: left;
    display: inline-block;
    margin-right: 24px;
    height: auto;
    padding: 5px;
    padding-left: 9px;
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

    input.login:focus {
        border: 0;
        border-left: #415CA3 4px solid;
    }

label.error {
    color: red;
    width: 100%;
    float: left;
}

select.error, input.error, textarea.error {
    border: 1px dotted red;
}

select.text-short {
    display: inline-block;
    height: 36px;
    width: 150px;
    border: 1px #e3e3e3 solid;
    background: #ffffff;
    padding: 5px;
    text-align: left;
    margin: 0 0 5px 0;
}


input[type=button], a.button, input[type=submit], .ViewFile {
    -moz-box-shadow: inset 0px -3px 41px -18px #ffffff;
    -webkit-box-shadow: inset 0px -3px 41px -18px #ffffff;
    box-shadow: inset 0px -3px 41px -18px #ffffff;
     /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJhNTY2OSIgc3RvcC1vcGFjaXR5PSIwLjc5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzJkNDkiIHN0b3Atb3BhY2l0eT0iMC44NiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(42,86,105,0.79) 0%, rgba(23,45,73,0.86) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(42,86,105,0.79)), color-stop(100%,rgba(23,45,73,0.86))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(42,86,105,0.79) 0%,rgba(23,45,73,0.86) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(42,86,105,0.79) 0%,rgba(23,45,73,0.86) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(42,86,105,0.79) 0%,rgba(23,45,73,0.86) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(42,86,105,0.79) 0%,rgba(23,45,73,0.86) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c92a5669', endColorstr='#db172d49',GradientType=0 ); /* IE6-8 */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 3px solid #999;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #000000;
    width: auto;
    height: auto;
    margin: 0;
    text-align: center;
}

    input[type=button]:hover, a.button:hover, input[type=submit]:hover, .ViewFile:hover {
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MmQ0OSIgc3RvcC1vcGFjaXR5PSIwLjc5Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYTU2NjkiIHN0b3Atb3BhY2l0eT0iMC44NiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(23,45,73,0.79) 0%, rgba(42,86,105,0.86) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,45,73,0.79)), color-stop(100%,rgba(42,86,105,0.86))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(23,45,73,0.79) 0%,rgba(42,86,105,0.86) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(23,45,73,0.79) 0%,rgba(42,86,105,0.86) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(23,45,73,0.79) 0%,rgba(42,86,105,0.86) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(23,45,73,0.79) 0%,rgba(42,86,105,0.86) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9172d49', endColorstr='#db2a5669',GradientType=0 ); /* IE6-8 */

        border: 3px solid #fff;
        width: auto;
        height: auto;
        cursor: pointer;
        color:#fff;
    }

    input[type=button]:active, a.button:active, input[type=submit]:active, .ViewFile:active {
        position: relative;
        top: 1px;
    }

    input[type="submit"][disabled], input[type="button"][disabled], input[type="button"]:disabled, input[type="submit"]:disabled, .disabled-button {
        -moz-box-shadow: inset 0px -3px 41px -18px #ffffff;
        -webkit-box-shadow: inset 0px -3px 41px -18px #ffffff;
        box-shadow: inset 0px -3px 41px -18px #ffffff;
        background: #dedede !important;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 3px solid #999  !important;
        display: inline-block;
        color: #ffffff;
        font-family: arial;
        font-size: 12px;
        font-weight: bold;
        padding: 4px;
        text-decoration: none;
        text-shadow: 1px 1px 0px #000000;
        width: auto;
        height: auto;
        margin: 0;
        text-align: center;
    }


input[type=radio] {
    width: auto;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 10px;
}

label {
    font-size: 12px;
    color: #152848;
    width: auto;
    text-align: left;
    line-height: 35px;
    padding-top: 5px;
    
    font-weight: bold;
}

    label.titleLogin {
        font-size: 14px;
        color: #152848;
        display: block;
        width: 100px;
        
        font-weight: bold;
    }

    label.title-left {
        font-size: 18px;
        color: #0e2144;
        text-align: left;
        float: left;
        padding-top: 12px;
    }
