/*
Traveller Mobile CSS
*/

/* BASE 
--------------------------------------------------------------------*/

label {
    font-size: 14px;
    color: #152848;
    display: block;
    width: auto;
    text-align: left;
    line-height: 14px;
    padding-top: 5px;
    
    font-weight: bold;
}

label.error {
    color: red;
width:100%;
float:left;
    display:block;
    height:25px;
    text-align:left;
}


body .ui-li .ui-li-desc {
  white-space: normal !important;
}
select {
    background-color:#FFFFCC;
}


