/*
Traveller Mobile CSS
*/

/* STATE
--------------------------------------------------------------------*/

/* Forms */
.processing {
    background-image: url(../../images/ajax-loader-big.gif)  !important;
    background-repeat: no-repeat;
    background-position: 95% 5%;
}

/* States */
div.dotGreen {
    width: 10px;
    height: 9px;
    background: url(../../images/dotGreen.png) no-repeat;
}

div.dotRed {
    width: 10px;
    height: 9px;
    background: url(../../images/dotRed.png) no-repeat;
}

div.dotYellow {
    width: 9px;
    height: 9px;
    background: url(../../images/dotYellow.png) no-repeat;
}

div.status_code {
    /*padding-top: 5px;*/
    padding-right: 4px;
    float: left;
}

.font-normal {
    font-weight:normal !important;
    font-size:12px;
}

.red {
    color:red !important;
    font-weight:normal !important;
}
.purple {
    color:purple !important;
    font-weight:normal !important;
}
.intime {
    color:black !important;
    font-weight:normal !important;
}


.no-ellipses,
.no-ellipses .ui-header .ui-title, 
.no-ellipses .ui-footer .ui-title,
.no-ellipses .ui-btn-inner,
.no-ellipses .ui-select .ui-btn-text,
.no-ellipses .ui-li .ui-btn-text a.ui-link-inherit,
.no-ellipses .ui-li-heading,
.no-ellipses .ui-li-desc {text-overflow:ellipsis;overflow:visible;white-space:normal;}

/* */
